body{
    background-color: aqua;
    padding: 0%;
    margin: 0%;
}
.packegecontainer{
    width: 290px !important;
    height: 300px !important;
    display: inline-block;
    background-image: url(https://img.freepik.com/free-vector/travel-tourism-background_1034-1190.jpg?w=2000);
    background-size: cover;
    
}
.tripname{
    font-weight: 600;
    text-align: center;
    background-color: cadetblue;
    height:15%;
    color: azure;
    margin-top: 10px;
}
.tripname p{
padding-top: 10px;
}
.addbtn{
    margin-left: 50%;
    margin-top: -28%;
    color: aliceblue;
    font-weight: 500;
}
.detailsbtn{
 margin-top:80%;
 margin-left: 5px;
}
.showselected{
    width: 200px;
    height: auto;
    border: 5px solid red;
    margin-top:50px;
    margin-right: 25%;
}
.content{
    width: 150px;
}
.axiosbutton{
    margin-top: 700px;
    display: inline-block;
}
.Jsondata{
    width: 100%;
    height: auto;
    margin-top: -100px;
    font-size: large;
    font-weight: 500;
    background-color: rgba(78, 208, 255, 0.5);
    
}